body {
  background-color: bisque;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.fa{
  color: white;
  font-size: medium;
  cursor: pointer;
}

.fa-times{
  color: black;
  font-size: 1.5em;
  margin-left: 1em;
}

.fa-edit{
  color: crimson;
  font-size: 1.5em;
}

.container{
  width: 60%;
  min-height: 60vh;
  margin: 2em auto;
  border: 1.5px solid coral;
  border-radius: 5px;
  padding: 1em;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.596);
}
.header{
  display: flex;
  justify-content: space-between;

}

.header .div1{
   width: 90%;
  text-align: center;

}

form .inputVal{
  background-color: rgba(211, 211, 211, 0.432);
  color: black;
  display: block;
  padding: 1em;
  width: 90%;
  border: none;
  outline: none;
  margin-top: 1em;
  font-size: larger;
}

.icon{
  display: flex;
  justify-content: flex-start;
  color: crimson;
}


.task .div3 .icon{
  text-align: center;
  padding: 1em;
}
.header .div1 h1{
  font-size: 2em;
  padding: 0;
  margin-top: -3px;
  color: crimson;
}

.btn{
  background-color: crimson;
  padding: 1em 1.5em;
  border: none;
  border-radius: 5px;
  font-size: larger;
  color: white;
  outline: none;
  cursor: pointer;
  margin-top: 1em;
}

.div2 .btn:focus{
  background-color: white;
  border: 1px solid crimson;
  color: crimson;
}

.task{
  background-color: rgba(211, 211, 211, 0.432);
  border-radius: 5px;
  color: crimson;
  padding: .5em;
  margin-bottom: 5px;
  margin-top: 1em;
 
  /* display: flex;
  justify-content: space-between; */
  width: 95%;
}

.task.reminder{
  border-left: 3px solid crimson;
}

.task h3{
  font-size: large;
}

.task p{
  color: black;
  margin-top: 0;
}

.headline{
  margin-top: 1em;
  text-decoration: underline;
  text-align: center;
  font-size: 2em;
  color: crimson;
}

.div5{
  margin-top: 1em;
  color: black;
  
}

.div6{
  display: flex;
  justify-content: flex-start;
  margin-top: 1em;
}

.div6 input{
  cursor: pointer;
  margin-top: 7px;
}

.div6 input:checked{
  background-color: crimson;
}

.div6 span{
  color: crimson;
  font-size: larger;
}


@media screen and (max-width:700px){
  .header{
    width: 80%;

  }

  .header .div1 h1{
    font-size: large;
  }

  .div2 .btn{
    padding: .5em 1em;
  }
}


@media screen and (max-width:500px){
  .container{
    width: 80%;
  }
  .header{
    width: 90%;
    margin: auto;

  }

  .header .div1 h1{
    font-size: 2em;
    margin-top: 5px;
  }

  .div2 .btn{
    padding: 1em 1.5em;
    margin-top: 10px;
    font-size: medium;
  }
}